@tailwind base;
@tailwind components;
@tailwind utilities;

main.home {
  background: url("./images/pizza-slice.png"), no-repeat;
  background-size: 220%;
  background-position: 25% 130%;
}

@media (min-width: 900px) {
  main.home {
    background-size: 180%;
    background-position: 25% 100%;
  }
}

@media (min-width: 1000px) {
  main.home {
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 20% 90%;
  }
}
