@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

main.home,
main.welcome {
  background: url("./images/pizza-slice.png"), no-repeat;
}

main.home {
  background-size: 220%;
  background-position: 25% 170%;
}

main.welcome {
  background-size: 200%;
  background-position: 85% 205%;
}

@media (min-width: 600px) {
  main.welcome {
    background-size: 180%;
    background-position: 85% 115%;
  }
}

@media (min-width: 900px) {
  main.home {
    background-size: 180%;
    background-position: 25% 100%;
  }
}

@media (min-width: 1000px) {
  main.home {
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 20% 90%;
  }
  main.welcome {
    background-size: 140%;
    background-position: 75% 100%;
  }
}

@media (max-height: 600px) {
  main.welcome {
    background-position: 85% 145%;
  }
}
