@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

main.home,
section.welcome {
  background: url("./images/pizza-slice.jpg"), no-repeat;
}

main.home {
  background-size: 220%;
  background-position: 25% 170%;
}

section.welcome {
  background-size: 220%;
  background-position: 85% 205%;
}

.shadow {
  box-shadow: 0px 12px 42px -4px rgba(24, 39, 75, 0.12),
    0px 8px 18px -6px rgba(24, 39, 75, 0.12);
}

.market footer a.active svg path {
  fill: #db040b;
}

.market footer a.active span {
  color: #db040b;
}

@media (min-width: 600px) {
  section.welcome {
    background-size: 180%;
    background-position: 85% 115%;
  }
}

@media (min-width: 900px) {
  main.home {
    background-size: 180%;
    background-position: 25% 100%;
  }
}

@media (min-width: 1000px) {
  main.home {
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 20% 90%;
  }
  section.welcome {
    background-size: 140%;
    background-position: 75% 100%;
  }
}

@media (max-height: 600px) {
  section.welcome {
    background-position: 85% 145%;
  }
}
